body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:url("B/36.jpg") center center no-repeat;
    height: 100vh;
    overflow: hidden;
}

button {
    background-color: rgb(32, 1, 79);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid silver;
    border-radius: 25px;
    font-size: 18px;
}

button:hover {
    opacity: 0.8;
}

tt {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avtar {
    width: 80px;
    border-radius: 50%;
}

.center {
    position: absolute;
    top: 10%;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%);
    width: 400px;
    background: rgba(216, 191, 216, 0.568);
    border-radius: 10px;
    border: 2px solid black;
}

.center h1 {
    text-align: center;
    padding: 0 0 0 0;
    border-bottom: 2px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

.text_field {
    position: relative;
    border-bottom: 2px solid #eccb0b;
    margin: 30px 0;
}

.text_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.pass {
    margin: 10px;
    text-align: center;
    font-size: 16px;
}

.pass a {
    color: rgb(22, 9, 110);
    text-decoration: none;
}

.SignUp {
    margin: 10px;
    text-align: center;
    font-size: 16px;
    color: #666666;
    font-weight: bold;
}

.SignUp a {
    color: #2691d9;
    text-decoration: none;
}