doctype html 
html
  head
    title Dev Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
        ul  
            div#logo
                img(src="/static/img/9.png")
                |DDA 
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") ContactUs]

    block content
    footer#footer
        | &copy All Right Reserved 2022  | DevDanceAcademy.com